@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --low-dimension: min(80vh, 100vw);
  --cell-size: calc((var(--low-dimension)) / 10);
  --full-size: calc((var(--low-dimension)) / 9);
  --board-width: calc(var(--full-size) * 8);
}
